body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #222;
    background-color: #fff;
}

h1 {
    font-family: Georgia, serif;
    font-size: 2.5em;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}

.paragraph1 {
    text-align: center;
    color: #555;
    font-size: 1.1em;
    margin-bottom: 40px;
}
